/* ___________________________the dice images__________________________ */
.red_die_img {
    width: 50px;
    visibility: hidden;
}

.orange_die_img {
    width: 50px;
    visibility: hidden;
}

.yellow_die_img {
    width: 50px;
    visibility: hidden;
}


.green_die_img {
    width: 50px;
    visibility: hidden;
}


.blue_die_img {
    width: 50px;
    visibility: hidden;
}


.black_die_img {
    width: 50px;
    visibility: hidden;
}

/* ______________________________other stuff______________________________ */
.cup {
    width: 85px;
}

#roll_button {
    visibility: hidden;
}

#start_button {
    visibility: hidden;
}