/* ___________________________the dice images__________________________ */
.red_die_img {
    width: 50px;
    visibility: hidden;
    padding-bottom: 25px;
}

.orange_die_img {
    width: 50px;
    visibility: hidden;
    padding-bottom: 25px;
}

.yellow_die_img {
    width: 50px;
    visibility: hidden;
    padding-bottom: 25px;
}


.green_die_img {
    width: 50px;
    visibility: hidden;
    padding-bottom: 25px;
}


.blue_die_img {
    width: 50px;
    visibility: hidden;
    padding-bottom: 25px;
}


.black_die_img {
    width: 50px;
    visibility: hidden;
    padding-bottom: 25px;
}

/* ______________________________other stuff______________________________ */
.cup {
    width: 85px;
}

#roll_button {
    visibility: hidden;
    border:none;
    background-color:transparent;
    outline:none;
    background-image: url(resources/blue_button.png);
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
    padding: 10px;
}

#start_button {
    border:none;
    background-color:transparent;
    outline:none;
    visibility: hidden;
    background-image: url(resources/pink_button.png);
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
    padding: 10px;

}

#display_button {
    visibility: hidden;
    border:none;
    background-color:transparent;
    outline:none;
    background-image: url(resources/green_button.png);
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
    padding: 10px;
}

#reroll_button {
    visibility: hidden;
    border:none;
    background-color:transparent;
    outline:none;
    background-image: url(resources/pink_button.png);
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
    padding: 10px;
}

#buttons {
    margin-top: 30px;
}

#dudoMessage {
    color: white;
}
/* .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  } */
  

  body {
      /* background-color: rgb(219, 232, 255); */
      /* background-color: rgb(219, 215, 250); */
      /* background-image: linear-gradient(to bottom right, rgb(219, 232, 255) ,rgb(219, 215, 250)); */
      /* background-image: linear-gradient(  hsl(247, 83%, 88%), hsl(204, 56%, 61%)); */
      /* background-repeat:no-repeat;
        background-size:100% 100%; */
        /* background-image: linear-gradient(red, yellow); */
        /* background-attachment: fixed; */
        background-image: url("resources/wood.jpg");
        background-size: contain;
  }