/* ___________________________the dice images__________________________ */
.red_die_img {
    width: 50px;
    visibility: hidden;
    padding-bottom: 25px;
}

.orange_die_img {
    width: 50px;
    visibility: hidden;
    padding-bottom: 25px;
}

.yellow_die_img {
    width: 50px;
    visibility: hidden;
    padding-bottom: 25px;
}


.green_die_img {
    width: 50px;
    visibility: hidden;
    padding-bottom: 25px;
}


.blue_die_img {
    width: 50px;
    visibility: hidden;
    padding-bottom: 25px;
}


.black_die_img {
    width: 50px;
    visibility: hidden;
    padding-bottom: 25px;
}

/* ______________________________other stuff______________________________ */
.cup {
    width: 85px;
}

.button {
    visibility: hidden;
    border:none;
    background-color:transparent;
    outline:none;
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
    padding: 10px;
}

#roll_button {
    background-image: url(resources/blue_button.png);
}

#start_button {
    background-image: url(resources/pink_button.png);
}

#display_button {
    background-image: url(resources/green_button.png);
}

#reroll_button {
    background-image: url(resources/pink_button.png);
}

#dudo_button {
    background-image: url(resources/blue_button.png);
    visibility: visible;
}

#buttons {
    margin-top: 30px;
}

#dudoMessage {
    color: white;
}

body {
    background-image: url("resources/wood.jpg");
    background-size: contain;
}

#redUsername, #orangeUsername, #yellowUsername, #greenUsername, #blueUsername, #blackUsername{
    color: white; 
}