/* ___________________________the dice images__________________________ */
.red_die_img {
    width: 50px;
    visibility: hidden;
    padding-bottom: 25px;
}

.orange_die_img {
    width: 50px;
    visibility: hidden;
    padding-bottom: 25px;
}

.yellow_die_img {
    width: 50px;
    visibility: hidden;
    padding-bottom: 25px;
}


.green_die_img {
    width: 50px;
    visibility: hidden;
    padding-bottom: 25px;
}


.blue_die_img {
    width: 50px;
    visibility: hidden;
    padding-bottom: 25px;
}


.black_die_img {
    width: 50px;
    visibility: hidden;
    padding-bottom: 25px;
}

/* ______________________________Buttons______________________________ */
.cup {
    width: 85px;
}

#game_id_display {
    color: white;
}

#wrapper {
    float: left;
    position: relative;
}

.text {
    padding: 20px;
    width: 75px;
    margin-left: 100px;
    margin-top: 10px;
    font-size: 17px;
}
#buttons {
    position: fixed;
    margin-left: 500px;
}

#count_div {
    float: left;
    position: relative;
    color: white;
    font-size: 20px;
}

#face_div {
    float: right;
    color: white;
    font-size: 20px;
}

#count_up_button, #face_up_button {
    background-image: url("resources/arrow_up.png");
    margin-top: 0px;
}

#count_down_button, #face_down_button {
    background-image: url("resources/arrow_down.png");
}

.bet_label {
    margin-bottom: 10px;

}

#face_text {
    padding-left: 15px;
}

#count_text {
    padding-left: 10px;
}

.bet_button {
    /* visibility: hidden; */
    border:none;
    background-color:transparent;
    outline:none;
    background-size: 100% 100%;
    width: 70px;
    height: 50px;
    background-repeat: no-repeat;
    margin-bottom: 0px;
}

#count_number, #face_number {
    font-size: 50px;
    margin: 0px;
    padding-left: 22px;
}



.button {
    visibility: hidden;
    border:none;
    background-color:transparent;
    outline:none;
    background-size: 100% 100%;
    color: white;
    background-repeat: no-repeat;
    width: 200px;
    height: 50px;
    /* margin-left: 100px; */
    margin-top: 10px;
    font-size: 17px;
}



#roll_button {
    background-image: url(resources/blue_button.png);
}
#roll_button:hover{
    background-image: url(resources/blue_pressed.png);
}

#enter_round_button {
    background-image: url(resources/pink_button.png);
}

#enter_round_button:hover{
    background-image: url(resources/pink_pressed.png);
}

#display_button {
    background-image: url(resources/blue_button.png);
}

#display_button:hover {
    background-image: url(resources/blue_pressed.png);
}

#reroll_button {
    background-image: url(resources/pink_button.png);
}
#reroll_button:hover{
    background-image: url(resources/pink_pressed.png);
}

#dudo_button {
    background-image: url(resources/green_button.png);
    visibility: hidden;
}

#dudo_button:hover{
    background-image: url(resources/green_pressed.png);
}

#betting_div{
    visibility: hidden;
}

#place_bet_button {
    visibility: hidden;
    background-image: url(resources/blue_button.png);
    margin-top: 15px;
}

#place_bet_button:hover {
    background-image: url(resources/blue_pressed.png);
    /* margin-top: 15px; */
}

#new_game {
    background-image: url(resources/green_button.png);
}

#new_game:hover {
    background-image: url(resources/green_pressed.png);
}

#join_game {
    background-image: url(resources/pink_button.png);
}

#join_game:hover {
    background-image: url(resources/pink_pressed.png);
}


/* ______________________________Other stuff______________________________ */



#join_fail {
    color: white;
}

body {
    padding-top: 20px;
    background-image: url("resources/wood.jpg");
    background-size: contain;
}

#redUsername, #orangeUsername, #yellowUsername, #greenUsername, #blueUsername, #blackUsername{
    color: rgb(255, 255, 255);
    text-indent: 2%;
    text-shadow: 1px black;
    font-size: 20px;
}

.player_pic {
    width: 50px;
}

.user_info {
    float: left;
    position: relative;
}

.player_div {
    padding-bottom: 20px;
    margin-left: 0px;

}

#redUsername {
    padding-top: 60px;
}

#redUsername, #orangeUsername, #yellowUsername, #greenUsername, #blueUsername, #blackUsername {
    position: absolute;
    margin-top: 10px;
}
